.overview-card1{
    background-color: #F4F6FB;
    padding: 20px;
    width: 309px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #94b7f0;
}
.card-label{
    color: blue;
}