
@media screen and (max-width: 768px){
    .li-container{
        width: 80%;
        background-color: white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        margin-top:50px;
        border-radius: 14px;
        padding: 30px;
        list-style-type: none;
    }
    .li{
        list-style-type: none;
        display: flex;
        width: 280px;
        justify-content: space-between;
        align-items: center;
    }
    .divli{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
    }
    .logo-name{
        background-color: #afbdf2;
        padding: 16px;
        border-radius: 30px;
    }
    .dark{
        font-size: 13px;
        font-weight: bold;
        color: black;
        text-align: left;
    
        width: 100px;
    }
}

@media screen and (min-width: 768px){
    .li-container{
        width: 30%;
        background-color: white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        margin-top:50px;
        border-radius: 14px;
        padding: 30px;
        list-style-type: none;
    }
    .li{
        list-style-type: none;
        display: flex;
        width: 280px;
        justify-content: space-between;
        align-items: center;
    }
    .divli{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
    }
    .logo-name{
        background-color: #afbdf2;
        padding: 16px;
        border-radius: 30px;
    }
    .dark{
        font-size: 13px;
        font-weight: bold;
        color: black;
        text-align: left;
    
        width: 100px;
    }
}